In [1]:
## Manipulación de datos con pandas

In [99]:
## Primero hacemos la importación de la librería

import pandas as pd

In [95]:
## Creamos una Serie 

ciudades = ["Santa marta", "medellín", "BoGotá", "CaLi", "cartagEna", "BucarAManga"]

serie = pd.Series(ciudades)
#print (serie)

## Extraemos información de la Serie

if (serie[0]== "Cali"):
    print ("Hola mundo")
else:
    print ("La ciudad es " +serie[0])
    
## Agregamos información a la Serie

serie[6] = "Pasto"
#print (serie)

## Cambiamos los índices de la Serie

serie.index = ["A", "B", "C", "D", "E", "F", "G"]
print (serie)

## Agregando y cambiando elementos

serie["H"] = "MiTú"
serie["A"] = "Barranquilla"

## Manipulación de los datos

serie = serie.str.capitalize()

serie.loc["D":"F"]  ## Muestra los datos desde el índice D hasta el F

len(serie)
serie

La ciudad es Santa marta
A    Santa marta
B       medellín
C         BoGotá
D           CaLi
E      cartagEna
F    BucarAManga
G          Pasto
dtype: object

A    Barranquilla
B        Medellín
C          Bogotá
D            Cali
E       Cartagena
F     Bucaramanga
G           Pasto
H            Mitú
dtype: object

In [97]:
## Creamos un DataFrame

numeros = {"pares":list(range(0,200,2)),"impares": list(range(1, 200, 2)) }

datos = pd.DataFrame(numeros)

## Extraemos información del DataFrame

print (datos.info())       ## Muestra la información general del DataFrame

print (datos.describe())   ## Muestra la información general matemática de los datos numéricos

print (datos.shape)        ## Muestra la información de las columnas y las filas del DataFrame

print (datos.head(8))      ## Muestra los primeros 8 datos del DataFrame, por defecto muestra 5

print (datos.tail(10))     ## Muestra los últimos 10 datos del DataFrame, por defecto muestra 5

print (datos.to_string())  ## Muestra todo el DataFrame   

print (datos.loc[11:27])   ## Muestra los datos desde el índice 11 hasta el 27

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   pares    100 non-null    int64
 1   impares  100 non-null    int64
dtypes: int64(2)
memory usage: 1.7 KB
None
            pares     impares
count  100.000000  100.000000
mean    99.000000  100.000000
std     58.022984   58.022984
min      0.000000    1.000000
25%     49.500000   50.500000
50%     99.000000  100.000000
75%    148.500000  149.500000
max    198.000000  199.000000
(100, 2)
   pares  impares
0      0        1
1      2        3
2      4        5
3      6        7
4      8        9
5     10       11
6     12       13
7     14       15
    pares  impares
90    180      181
91    182      183
92    184      185
93    186      187
94    188      189
95    190      191
96    192      193
97    194      195
98    196      197
99    198      199
    pares  impares
0       0        1
1       2        3
2       4        5
3       6        7
4       8        9
5      10       11
6      12       13
7      14       15
8      16       17
9      18       19
10     20       21
11     22       23
12     24       25
13     26       27
14     28       29
15     30       31
16     32       33
17     34       35
18     36       37
19     38       39
20     40       41
21     42       43
22     44       45
23     46       47
24     48       49
25     50       51
26     52       53
27     54       55
28     56       57
29     58       59
30     60       61
31     62       63
32     64       65
33     66       67
34     68       69
35     70       71
36     72       73
37     74       75
38     76       77
39     78       79
40     80       81
41     82       83
42     84       85
43     86       87
44     88       89
45     90       91
46     92       93
47     94       95
48     96       97
49     98       99
50    100      101
51    102      103
52    104      105
53    106      107
54    108      109
55    110      111
56    112      113
57    114      115
58    116      117
59    118      119
60    120      121
61    122      123
62    124      125
63    126      127
64    128      129
65    130      131
66    132      133
67    134      135
68    136      137
69    138      139
70    140      141
71    142      143
72    144      145
73    146      147
74    148      149
75    150      151
76    152      153
77    154      155
78    156      157
79    158      159
80    160      161
81    162      163
82    164      165
83    166      167
84    168      169
85    170      171
86    172      173
87    174      175
88    176      177
89    178      179
90    180      181
91    182      183
92    184      185
93    186      187
94    188      189
95    190      191
96    192      193
97    194      195
98    196      197
99    198      199
    pares  impares
11     22       23
12     24       25
13     26       27
14     28       29
15     30       31
16     32       33
17     34       35
18     36       37
19     38       39
20     40       41
21     42       43
22     44       45
23     46       47
24     48       49
25     50       51
26     52       53
27     54       55

pares       9900
impares    10000
dtype: int64

In [114]:
## Leyendo datos en formato JSON

fuente = "https://www.datos.gov.co/resource/kktn-hnps.json"
archivo = pd.read_json(fuente)

archivo.shape

(1000, 710)

In [115]:
archivo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Columns: 710 entries, identificador_registro to pregunta_53_a_98
dtypes: float64(423), int64(207), object(80)
memory usage: 5.4+ MB

In [116]:
archivo.head()

,identificador_registro,num_cuestionario,num_depto_divipola,nombre_depto,factor_expansi_n,factor_ponderaci_n,factor_expansi_n_hogares,ponderaci_n_hogares,region,zona,...,pregunta_53_j_4,pregunta_54_j_otrp,pregunta_53_c_3,pregunta_54_c_tel,pregunta_53_e_3,pregunta_54_e_tel,pregunta_53_g_3,pregunta_54_g_tel,pregunta_87_3,pregunta_53_a_98
0,42466,10216.0,81,ARAUCA,111872,34,47088,39,ORINOQUÍA-AMAZONÍA,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,39210,1157.0,5,ANTIOQUIA,101303,30,38356,32,ANTIOQUIA,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,41230,10735.0,81,ARAUCA,1357,0,476,0,ORINOQUÍA-AMAZONÍA,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,43061,10233.0,81,ARAUCA,153396,46,64565,54,ORINOQUÍA-AMAZONÍA,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,42254,10225.0,81,ARAUCA,61397,18,25842,21,ORINOQUÍA-AMAZONÍA,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [121]:
## Exploración básica de un DataFrame

## Leemos el archivo de Internet
camino = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DA0101EN/auto.csv"
datos = pd.read_csv(camino, header=None) ## creamos un DataFrame con los datos y le indicamos no leer los headers

# Creación de un header

headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]

datos.columns = headers  ## asignamos el header de acuerdo a los nombre que creamos anteriormente
datos.head(10)           ## vemos los primeros datos del DataFrame

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,?,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,?

In [122]:
datos.shape

(205, 26)

In [123]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [125]:
datos.dtypes   ## para ver qué tipo de dato corresponde a cada columna

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [127]:
datos.describe()

,symboling,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,city-mpg,highway-mpg
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,10.142537,25.219512,30.751220
std,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,3.972040,6.542142,6.886443
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,8.600000,19.000000,25.000000
50%,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,9.000000,24.000000,30.000000
75%,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,9.400000,30.000000,34.000000
max,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000

In [130]:
datos[["price", "length"]].head()  ## así seleccionamos las columnas de las que queremos extraer información

   price  length
0  13495   168.8
1  16500   168.8
2  16500   171.2
3  13950   176.6
4  17450   176.6

In [133]:
datos.isna().sum()   ## para saber cuántos NaN tenemos

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [134]:
datos.isnull().sum()   ## para saber cuántos nulos tenemos

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [137]:
datos.price.unique()

array(['13495', '16500', '13950', '17450', '15250', '17710', '18920',
       '23875', '?', '16430', '16925', '20970', '21105', '24565', '30760',
       '41315', '36880', '5151', '6295', '6575', '5572', '6377', '7957',
       '6229', '6692', '7609', '8558', '8921', '12964', '6479', '6855',
       '5399', '6529', '7129', '7295', '7895', '9095', '8845', '10295',
       '12945', '10345', '6785', '11048', '32250', '35550', '36000',
       '5195', '6095', '6795', '6695', '7395', '10945', '11845', '13645',
       '15645', '8495', '10595', '10245', '10795', '11245', '18280',
       '18344', '25552', '28248', '28176', '31600', '34184', '35056',
       '40960', '45400', '16503', '5389', '6189', '6669', '7689', '9959',
       '8499', '12629', '14869', '14489', '6989', '8189', '9279', '5499',
       '7099', '6649', '6849', '7349', '7299', '7799', '7499', '7999',
       '8249', '8949', '9549', '13499', '14399', '17199', '19699',
       '18399', '11900', '13200', '12440', '13860', '15580', '16900',
       '16695', '17075', '16630', '17950', '18150', '12764', '22018',
       '32528', '34028', '37028', '9295', '9895', '11850', '12170',
       '15040', '15510', '18620', '5118', '7053', '7603', '7126', '7775',
       '9960', '9233', '11259', '7463', '10198', '8013', '11694', '5348',
       '6338', '6488', '6918', '7898', '8778', '6938', '7198', '7788',
       '7738', '8358', '9258', '8058', '8238', '9298', '9538', '8449',
       '9639', '9989', '11199', '11549', '17669', '8948', '10698', '9988',
       '10898', '11248', '16558', '15998', '15690', '15750', '7975',
       '7995', '8195', '9495', '9995', '11595', '9980', '13295', '13845',
       '12290', '12940', '13415', '15985', '16515', '18420', '18950',
       '16845', '19045', '21485', '22470', '22625'], dtype=object)